In [49]:
import pandas as pd
import numpy as np
import pycaret.classification as pc


fname = '../Data/dataset_kobe.csv'

# Carga dos Dados

In [109]:
data = pd.read_csv(fname)

ml_features = [
    'lat',
    'lon',     
    'minutes_remaining',
    'period',     
    'playoffs',
    'shot_distance',
]

filter_column = 'shot_type'
filter_values = ['3PT Field Goal']
target = 'shot_made_flag'

data = data[ml_features + [filter_column, target]].dropna()

data_op = data[data[filter_column].isin(filter_values)].drop(filter_column, axis=1)
data    = data[~data[filter_column].isin(filter_values)].drop(filter_column, axis=1)


print(data.columns)
print(data.shape)
print(data_op.shape)

Index(['lat', 'lon', 'minutes_remaining', 'period', 'playoffs',
       'shot_distance', 'shot_made_flag'],
      dtype='object')
(20285, 7)
(5412, 7)

In [110]:
data.head()

,lat,lon,minutes_remaining,period,playoffs,shot_distance,shot_made_flag
1,34.0443,-118.4268,10,1,0,15,0.0
2,33.9093,-118.3708,7,1,0,16,1.0
3,33.8693,-118.1318,6,1,0,22,0.0
4,34.0443,-118.2698,6,2,0,0,1.0
5,34.0553,-118.4148,9,3,0,14,0.0

In [112]:
experiment= pc.setup(data,
                     train_size = 0.80,
                     target = target,
                     silent=True,
                     normalize=True,
                     
                     verbose=0,
#                      numeric_features = ml_features
                    )
# O PyCaret treina os modelos com hiperparametros defaults, sem ajuste fino.
model = pc.compare_models(include=['lr','dt'])

In [113]:
pc.evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [114]:
from sklearn import metrics

prediction_op = pc.predict_model(model, data_op)

print(metrics.classification_report(prediction_op[target], prediction_op.Label.astype(float)))

              precision    recall  f1-score   support

         0.0       0.67      1.00      0.80      3630
         1.0       0.00      0.00      0.00      1782

    accuracy                           0.67      5412
   macro avg       0.34      0.50      0.40      5412
weighted avg       0.45      0.67      0.54      5412